body {
  background-color: #0b0b0f;
  color: #00ffcc;
  font-family: "Courier New", monospace;
  text-align: center;
}

.menu {
  margin: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #00ffcc;
  color: #0b0b0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #00ffaa;
}

canvas {
  border: 3px solid #00ffcc;
  background-color: #111;
  margin-top: 10px;
}
